PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
LOGISTICS_SERVICE_URL=http://localhost:3005
SUPPLIER_SERVICE_URL=http://localhost:3006
